
:root {
    --primary: #F5F5F5;
    --secondary: #F05454;
    --ternary: #30475E;
    --forth: #121212;
 }

.projContainer {
    margin: 0;
    border-right: 1px black solid;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.projContainer * {
    margin-left: 10%;
}
.projSect1 {
    margin-left: 0%;
}
.todoContainer {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
}
.projSect1 {
    display: flex;
    text-align: center;
    gap: 10px;
}
.addProj {
    font-size: 3rem;
    align-self: center;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}
.addProj:hover {
    opacity: 0.9;
    transition: 0.2s;
}
.projects {
    display: grid;
    gap: 10px;
}
.proj {
    width: 50%;
    display: flex;
    cursor: pointer;
    padding: 10px;
    background-color: var(--primary);
}
.proj:hover {
    opacity: 0.8;
}
.rmProj {
    opacity: 0;
    transition: 0.2s;
    color: var(--ternary);
    margin-left: auto;
}
.proj:hover .rmProj {
    transition: 0.5s;
    opacity: 0.8;
}
.tasksContainer {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 100%;
    justify-content: center;
    padding: 20px;
}
.edit {
    width: 1.5rem;
    height: auto;
}

.noProj {
    border: 1px black solid;
    text-align: center;
    font-style: italic;
}
.projTitle {
    display: flex;
    justify-content: center;
    color: var(--forth);
    margin: 0;
    align-items: center;
}
.addTaskCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
#addTask {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    color: var(--primary);
    background-color: var(--ternary);
}
#addTask:hover {
    opacity: 0.5;
    transition: 0.5s;
}
.tasks.empty{
    display: flex;
    justify-content: center;
    align-items: center;
}
.noProj {
    width: 100%;
}

.popupContainer, .editPopupContainer {
    position: absolute;
    visibility: hidden;
    top: -5vh;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.editPopupContainer {
    visibility: visible;
}
.popup {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}
body {
    height: 100vh;
    margin: 0;
    background-color: var(--primary);
}

.tasks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.task {
    height: 100px;
    width: 50%;
    border-radius: 10px;
    padding-top: 5px;
    display: grid;
    box-shadow: 0px 0px 10px -10px rgba(0,0,0,0.34);
}
.taskName {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-style: oblique;
}
.changeTask:hover, .deleteTask:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;
}
.taskSect1 {
    display: flex;
    justify-content: space-between;
}
.taskSect1, .taskSect2 {
    padding: 10px;
    background-color: white;
}
.taskSect2 {
    display: flex;
    justify-content: center;
}
.Low {
    background-color: blue;
}
.Medium {
    background-color: yellow;
}
.High {
    background-color: red;
}

.done {
    opacity: 50%;
}
.task, .done {
    transition: 0.5s;
}



/* DO NOT TOUCH */
.editContainer {
    position: relative;
    display: inline-block;
}
.editActions {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    left: 0;
    border-radius: 10px;
}
.editContainer:hover .editActions {
    display: block;
}
.popup {
    background-color: snow;
    border-radius: 5%;
    box-shadow: 4px 2px 25px -3px rgba(0,0,0,0.55);
}