.popupContainer {
    position: absolute;
    visibility: hidden;
    top: -5vh;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.popup {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.done {
    opacity: 50%;
}
.task, .done {
    transition: 0.5s;
}
.todoContainer {
    display: grid;
    grid-template-columns: 20% 80%;
}